.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: var(--container);
  height: 55px;

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    &Color {
      color: var(--primary);
    }
  }

  @media (max-width: $size-sm) {
    justify-content: center;
  }
}
