.header__nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 14px;

  &Link {
    background: none;
    padding: 0 14px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &Active {
      background: #0E0E0E;
      border-bottom: 2px solid var(--primary);
    }
  }

  @media (max-width: $size-sm) {
    display: none;
  }
}
