.label {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 16px;

  &Text {
    margin-bottom: 8px;
  }

  &Error {
    color: red;
    margin-top: 4px;
    font-size: 14px;
  }
}

.input {
  padding: 16px 24px;
  border-radius: 12px;
  background: #1B1B1B;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;

  &Error {
    border: 1px solid #ff3129;
    transition: 0.2s;
  }
}
