.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #0B0B0B;
  padding: 40px 0;
  margin-top: auto;

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: var(--container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: $size-sm) {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 30px;

      > aside:first-child {
        display: none;
      }
    }
  }
}
