@import "reset";
@import "flickity/dist/flickity.css";

:root {
  --primary: #643FFE;
  --container: 1280px;
}

* {
  color: white;
  font-family: 'Raleway', sans-serif;
}

body {
  background: #040404;
  display: flex;
  flex-direction: column;
}

#__next {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.mainContainer {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.footer__block {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  transition: 0.2s;

  &:hover {
    color: var(--primary);
    transition: 0.2s;
  }
}

// flickity.css
.flickity-button {
  box-shadow: none !important;
  background: none !important;
  width: 40px;
  height: 40px;

  &.next {
    right: 0;
    transform: translate(100%, -50%);
  }

  &.previous {
    left: 0;
    transform: translate(-100%, -50%);
  }

  svg {
    fill: #646464;
  }
}

.form__button {
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 16px;
  margin-top: 8px;
}

// Scrollbar
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #643FFE;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #8d6fff;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #4f2eff;
}


@media (min-width: $size-sm) {
  .mainContainer {
    padding: 0 20px;
  }
}
